body {
  margin: 0 2%;
  font-size: small;
}

p {
  font-family: serif;
  color: #000000;
}

div {
  padding-left: 20px;
}

div > p:first-child {
  text-indent: -20px;
}

li {
  text-align: left;
}

b {
  font-weight: bold;
  color: blue;
}

i {
  font-style: italic;
  color: #228B22;
}

small {
  font-style: italic;
  font-family: serif;
  color: blue;
}

strong {
  font-weight: bold;
}

blockquote { /* .quote */
  border-left: 3px solid #ccc;
  margin-left: 1px;
  padding-left: 16px;
}

blockquote > p {
  margin: 8px 0;
}

blockquote.note > p:first-child::before {
  content: "☞";
  display: inline-block;
  width: 0;
  text-indent: -20px;
}

blockquote.note {
  border-left: 0;
  margin-left: 0;
  padding-left: 20px;
}

p.breakhere {
  page-break-before: always;
  text-align: center;
}

ul {
  list-style-type: none;
  font-family: monospace;
}

h2 {
  text-align: center;
}
